<!DOCTYPE html>
<html lang="">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/scripts/bootstrap.min.js" />
    <link rel="stylesheet" href="~/scripts/jquery-3.1.1.min.js" />
    <title>@ViewBag.Title - Gestión de Biblioteca</title>
</head>
<body>
    <header><h1>@ViewBag.Title</h1></header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul><li>@Html.ActionLink("Acerca de ", "Index", "Home")</li></ul>
            </div>


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Autores ", "Index", "Autor")</li>
                    <li>@Html.ActionLink("Libros ", "Index", "Libro")</li>
                    <li>@Html.ActionLink("Editoriales ", "Index", "Editorial")</li>
                    <li>@Html.ActionLink("Ejemplares ", "Index", "Ejemplar")</li>
                    <li>@Html.ActionLink("Usuarios ", "Index", "Usuario")</li>
                    <li>@Html.ActionLink("Prestamos ", "Index", "Prestamo")</li>
                    <li>@Html.ActionLink("Acerca de ", "About", "Home")</li>
                </ul>
                <form id="signin" class="navbar-form navbar-right" role="form">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="nick" type="text" class="form-control" name="nick" value="" placeholder="Username">
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="password" type="password" class="form-control" name="password" value="" placeholder="Password">
                    </div>

                    <button type="submit" class="btn btn-primary">Login</button>
                </form>

            </div>
        </div>
    </nav>
    <main>
        @if (ViewBag.Message != null) {
            @ViewBag.Message
        }
        @if (ViewBag.ErrorMessage != null) {
            @ViewBag.ErrorMessage
        }
        @RenderBody()
    </main>
</body>
</html>