
@model IList<GestionBibliotecaMVC.Models.Autor>
@{
    ViewBag.Title = "Listado de Autores";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<section>
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 ">
                <h3>Nombre:</h3>
            </div>
        </div>
        <br />
        @foreach (var items in Model) {
            <div class="row ">
                <div class="col-lg-4">
                    @items.Nombre
                    @items.Apellidos
                </div>
                <div class="col-lg-8">
                    @Html.ActionLink("Editar", "createUpdate", new {
                   codigo = @items.CodAutor
               }, htmlAttributes: new {
                   @class = "btn btn-warning"
               })
                    @Html.ActionLink("Borrar", "delete", new {
                   codigo = @items.CodAutor
               }, htmlAttributes: new {
                   @class = "btn btn-danger"
               })
                </div>
            </div>
        <br />
        }
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7">
                @Html.ActionLink("Crear", "createUpdate", null, new {
               @class = "btn btn-success pull-left"
           })
            </div>
        </div>
    </div>
</section>
