@using GestionBibliotecaMVC.Models.Foto

<nav class="nav navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Pagina Principal ", "Index", "Home")</li>
            </ul>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                @if (Request.IsAuthenticated) {
                    
                    if (User.IsInRole("Admin")) {
                <!--Primer parametro, lo que vemos. Segundo parametro, que metodo llamamos. Tercer parametro, que controlador llamamos-->
                <li>@Html.ActionLink("Autores ", "Index", "Autor")</li>
                <li>@Html.ActionLink("Libros ", "Index", "Libro")</li>
                <li>@Html.ActionLink("Editoriales ", "Index", "Editorial")</li>                
                <li>@Html.ActionLink("Usuarios", "Index", "Usuario")</li>
                <li>@Html.ActionLink("Ejemplares", "Index", "Ejemplar")</li>
                
                    }
                    if (User.IsInRole("User")) {
                        
                        <li>@Html.ActionLink("Mis datos", "Usuario", "Usuario")</li>
                        <li>@Html.ActionLink("Prestamos ", "Index", "Prestamo")</li>
                        <li>@Html.ActionLink("Mi foto de perfil", "Index", "Foto")</li>
                    }
                }
                <li>@Html.ActionLink("Acerca de ", "About", "Home")</li>
            </ul>

            @if (!Request.IsAuthenticated) {

                using (Html.BeginForm("Index", "Login", FormMethod.Post, new {
                    @class = "navbar-form navbar-right"
                })) {
                    @Html.ValidationSummary(true)                                                 
                    <button type="submit" class="btn btn-primary">Login</button>
                }

            } else {
                <div class="form-group row">
                     <!--
                    <img src="~/imagenes/@Model.imagen" style="min-height:100px;min-width:100px;max-width:300px;max-height:300px;" />
                       -->      
                    @using (Html.BeginForm("Logout", "Login", FormMethod.Post, new {
                    @class = "navbar-form navbar-right"
                    })) {
                    @Html.ValidationSummary(true)
                        
                    <button type="submit" class="btn btn-primary">Logout</button>
                    }
                </div>         
            }
        </div>
    </div>
</nav>