@model IList<GestionBibliotecaMVC.Models.Editorial>
@{
    ViewBag.Title = "Listado de Editoriales";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<section>
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <h3>Nombre:</h3>
            </div>
        </div>
    </div>
    <br />
    @foreach (var item in Model) {
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    @item.Nombre
                </div>
                <div class="col-lg-8">
                    @Html.ActionLink("Editar", "createUpdate", new {
                   codEditorial = @item.CodEditorial
               }, htmlAttributes: new {
                   @class = "btn btn-warning"
               })
                    @Html.ActionLink("Borrar", "delete", new {
                   codEditorial = @item.CodEditorial
               }, htmlAttributes: new {
                   @class = "btn btn-danger"
               })
                </div>
            </div>
        </div>
        <br />
    }
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6  pull-left">
                @Html.ActionLink("Crear", "createUpdate", null, new {
               @class = "btn btn-success"
           })
            </div>
        </div>
    </div>
</section>